<h1><%= wall.title %></h1>
<h2>Description</h2>
<%= wall.description %>
<h3>Messages</h3>

<% wall.message.each() do |message| %>
Message: "<%= message.body %>"
- <%= message.likes%> 'Likes'
<form method="POST" action="/message/:id/likes">
	<button>Like this message</button>
</form>
<% end %>

<form method="POST" action="/:wall_id/messages">
	<label>Add a message to this wall:
	<input name = "message[body]" type="text"/>
	</label>
		<button>Add a message</button>
</form>