<h2>Update</h2>
Success!  That is the correct author for this wall
</br>
Enter the values you wish to change:
</br></br>

<form method = "POST" action ="/update">
	<label>Title</label>
	<input name = "wall[title]" type = "text" value = "<%=wall.title%>" >
	</br><label>Description</label>
	<input name = "wall[description]" type = "text" value = "<%=wall.description%>" >
	<input name="wall[id]" type="hidden" value="<%= wall.id %>" />
</br></br>
<button>Update this Wall</button>
</form>
