<!-- Home/Index Page -->
<title>Wall-B</title>

<h1>Wall-B</h1>
<ul>
<% walls.each() do |wall| %>
  <li><a href="/walls/<%= wall.title %>"><%= wall.title %></a></li>
  <ul>
    <li><a href="/walls/<%= wall.title %>/edit">Edit</a></li>
    <li><a href="/walls/<%= wall.title %>/delete">Delete</a></li>
  </ul>
<% end %>
</ul>

<a href="/walls/new">Add Your Own Wall</a>
