<hr>
<h2>All Walls</h2>
<ul>
<% @walls.each do |wall| %>
  <li><%=wall.title%> <br> 
    <span>=><a href="/walls/<%= wall.id %>">View details of this wall</a></span>
  </li>
  <br>
<% end %>
</ul>
<hr>
<a href="/walls/new">Add Your Own Wall</a>
<hr>
