<%= @wall.title %>
<hr>
<form method="POST" action="/walls/<%= params[:id] %>/messages/new">
  <label>Your name:</label>
  <input type="text" name="message[created_by]"><br>
  <label>Your message: </label>
  <input type="text" name="message[content]"><br>
  <button type="submit">Submit message</button>
</form>
