<h2>Add a Wall</h2>
<form method="POST" action="/walls">
  <label>Title:
    <input type="text" name="wall[title]" value="<%=@wall.title %>" />
  </label><br />

  <label>Description:
    <textarea name="wall[description]"><%=@wall.description %></textarea>
  </label><br />

  <label>Owner:
    <input type="text" name="wall[created_by]" value="<%=@wall.created_by %>" />
  </label><br />

  <button>Create the Wall!</button>
</form>


<h1>current walls....</h1>
<%= erb(:home, :layout => false) %>