<form method="POST" action="/walls/<%= params[:id] %>/messages/new">
  <label>Your name:</label>
  <input type="text" name="message[created_by]"></form><br>
  <label>Your message: </label>
  <textbox name="message[content]"> </textbox><br>
  <button>Submit message</button>
</form>
